header.content.bio
  div.image-container
    img.profile(itemprop='image' src='/img/jascha.ehrenreich.jpg' alt='Jascha Ehrenreich')
    img.white(itemprop='image' src='/img/jascha.ehrenreich.white.jpg' alt='Jascha Ehrenreich White')
  h1(itemprop='name') Jascha Ehrenreich

  .jobTitle(itemprop='jobTitle') Webdeveloper and Streetartist

  .description(itemprop='description')
    p i juggle with code since ten,
    p with cones, balls and rings since twenty
    p and life juggles with me since around thirty years.
    p I enjoy all of it.
