extends ../layout

block title
  title Jascha Ehrenreich, Magically Shifting Paradigms

block content
  section#about
    div.image-container
      img.face(src='/img/jascha.ehrenreich.jpg' alt='Jascha Ehrenreich')
      img.body(src='/img/jascha.ehrenreich.body.jpg' alt='Jascha Ehrenreich')
    div.text-container
      h1 Jascha Ehrenreich

      h2 Developer / Engineer / Hacker / Streetartist

      div.description
        p i juggle with code since thirteen,
        p with cones, balls and rings since twentythree
        p and life juggles with me since around thirtythree years.
        p i enjoy all of it.

     div.contact
      a(href="mailto://via.jaeh.at@jaeh.at") any-string@jaeh.at
