header.content.bio
  div.image-container
    img.face(itemprop='image' src='/img/jascha.ehrenreich.jpg' alt='Jascha Ehrenreich')
    img.body(itemprop='image' src='/img/jascha.ehrenreich.body.jpg' alt='Jascha Ehrenreich')
  div.text-container
    h1(itemprop='name') Jascha Ehrenreich

    div.jobTitle(itemprop='jobTitle') Webdeveloper and Streetartist

    div.description(itemprop='description')
      p i juggle with code since ten,
      p with cones, balls and rings since twenty
      p and life juggles with me since around thirty years.
      p i enjoy all of it.
