- var title      = 'Test Post 1'
- var tags       = ['tag 1', 'tag 2', 'tag 3', 'tag 4'];
- var categories = ['category 1'];
- var author     = { name: 'Jascha Ehrenreich', url:  'https://jaeh.at' };
- var date       = 'Mon, Jan 05 2014';

include ../../postHeader

div.content
  | Testing the content div 
  a(href='/a/link') a link
  |  and some more content

include ../../postFooter
