if categories || tags
  footer
    div.categories
      for category in categories
        li
          a(href='/blog/category/' + category) category
    div.tags
      for tag in tags
        li
          a(href='/blog/tag/' + tag)= tag
