extends ../layout

block content
  ul
  if blogData
    for year, yearID in blogData
      li= yearID
      if year
        ul
          for month, monthID in year
            li= monthID
            for post in month
              h2
                a(href=post.link) post.title
