extends ../layout

block content
  section.error404
    div.content
      img(alt='Page Not Found' src='/img/404.png')
      h2 Four Oh Four. Not found.

      p
        | This should not have happened.
        | You can try the
        a(href='/') home page
        |  to see if it helps you.
