extends ../layout

block content
  section.error500
    div.content
      img(alt='Server Error' src='/img/404.png')

      h2 Five Oh! Oh!. Server Error.

      p
        | This should not have happened.
        | You can try the
        a(href='/') home page
        |  to see if it helps you.
