- var title      = 'Test Post 2'
- var tags       = ['tag 2', 'tag 5', 'tag 3', 'tag 4'];
- var categories = ['category 2'];
- var author     = { name: 'Jascha Ehrenreich', url:  'https://jaeh.at' };
- var date       = 'Mon, Jan 06 2014';

include ../../postHeader

div.content
  | Testing the content div again
  a(href='/a/link') a link
  |  and some more content... again.

include ../../postFooter
