extends ../layout

block content
  section.about
    article#about
      header
        h2 Hosts && Magic && A Wizard

      h3 Who is it for?

      p
        | This page was built with the help of
        a(href='https://github.com/magic/root' target='_blank')  Magic

      p
        | Magic is not for the faint of heart.
        | It is built by programmers for programmers.

      p
        | What you see running here is a bunch of jade templates, stylus css
        | and browserified/babelified javascript, tunneled through express.

    article#magic
      header
        h4 Magic

      p
        | in essence, Magic is an express app mounter.

      p
        | it is designed not to be used.
      p
        | it's goal is to magically reduce all the tedious boilerplate
        | that usually has to be written to get an express app running.
      p
        | I am still working on it and i do not regard it as usable for anyone else.
        | For now i do not care about documentation or breaking changes.

    article#jaeh-github
      header
        h4 jaeh.at github
      p
        | The magic-host powering this page can be found at
        a(href='https://github.com/jaeh/jaeh.at' target='_blank')  github.

    article#grundstein
      header
        h4 Grundsteinlegung

      p
        | Magic needs a solid foundation. This is what we use the
        a(href='https://github.com/grundstein')  Grundstein
        |  for.
        | It hosts our gitlab instance which we internally use for issues and sourcecontrol.
        | It also comes with a Makefile and a cli that allows you to easily build, run and deploy multiple, interconnected dockercontainers.
