extends ../layout

block title
  title Jascha Ehrenreich, Magically Shifting Paradigms

block content
  include ../sections/hero.pug

  include ../sections/groups.pug

  include ../sections/projects.pug

  include ../sections/contact.pug
