global-reset()

$body-color = #010101
$body-bg-color = #fefefe
$a-color = #F79F3F
$a-color-hover = #FF8500

/* sanity */
*, *:before, *:after
  box-sizing border-box

html,
body
  display inline-block
  min-height 100%
  left 0
  position absolute
  top 0
  width 100%

body
  background-color $body-bg-color
  font-family Ubuntu, 'Lucida Grande', 'Segoe UI', monospace
  font-size 13px
  line-height 1.5em

  &.js
    transition background-color .5s

a
  color $a-color

  &:hover,
  &:active
    $a-color-hover

h2
  font-size 1.2em

nav.main
  background $body-bg-color
  background linear-gradient($body-bg-color, rgba(255,255,255,0))
  font-size .8em
  padding 0 0 1em
  position fixed
  text-align center
  width 100vw
  z-index 1

  li
    display inline
    margin 0 .2em 0

section
  height 100vh
  text-align center
  width 100vw

  &#hero
    .image-container
      position relative

      img
        border-radius 100%
        left 0
        position absolute
        transition opacity .5s

        &:first-child
          opacity 1
        &:last-child
          opacity 0

      &:hover
        img
          &:first-child
            opacity 0
          &:last-child
            opacity 1

    .text-container
      text-align center

      h1
        font-size 1.2em

      .jobTitle
        font-size .9em
        font-style italic


@media (orientation: portrait)
  section
    &#hero
      .image-container
        width 70vw
        height 70vw
        margin 10vw auto
        display block

        img
          width 70vw
          height 70vw
