global-reset()

$body-color = #010101
$body-bg-color = #fefefe
$a-color = #F79F3F
$a-color-hover = #FF8500

/* sanity */
*, *:before, *:after
  box-sizing border-box

html,
body
  display inline-block
  min-height 100%
  left 0
  position absolute
  top 0
  width 100%

body
  background-color $body-bg-color
  font-family Ubuntu, 'Lucida Grande', 'Segoe UI', monospace
  font-size 13px
  line-height 1.5em

  &.js
    transition background-color .5s

a
  color $a-color

  &:hover,
  &:active
    $a-color-hover

h2
  font-size 1.2em

nav.main
  background $body-bg-color
  background linear-gradient($body-bg-color, rgba(255,255,255,0))
  font-size .8em
  padding 0 0 1em
  position fixed
  text-align center
  width 100vw
  z-index 1

  li
    display inline
    margin 0 .2em 0

section
  height 100vh
  text-align center
  width 100vw

  &#hero
    .container
      display inline-block
      height 33vh
      margin 30vh auto

    .content
      &.image
        position relative
        width 33vh
        height 33vh

        img
          border-radius 100%
          height 100%
          left 0
          max-height 100%
          max-width 100%
          position absolute
          transition opacity .5s
          width 100%

          &:first-child
            opacity 1
          &:last-child
            opacity 0

        &:hover
          img
            &:first-child
              opacity 0
            &:last-child
              opacity 1

      &.text
        text-align left
        margin 5vw 0 0 3vw

        h1
          font-size 1.2em
          margin 0 0 .2em

        h2
          font-size .9em
          font-style italic
          margin 0 0 .5em

@media (orientation: portrait)
  section
    &#hero
      .content
        display block

@media (orientation: landscape)
  section
    &#hero
      .content
        float left
