-
  var affiliations = [
    {
      href: 'http://bwb.is',
      title: 'Bitcoiners Without Borders',
      target: 'bwb',
      img: '/img/bwb.png',
      description: [
        'BitcoinersWithoutBorders is a group of individuals tired of the destructive trip, workin\' on a better day.',
      ],
    },
    {
      href: 'https://metalab.at',
      target: 'utopia',
      title: 'Metalab',
      img: '/img/metalab.png',
      description: [
        'The Metalab is a hackspace in Vienna, Austria.',
      ],
    },
    {
      href: 'https://wizardsat.work',
      target: 'utopia',
      title: 'Wizards@Work',
      img:'/img/wizardsatwork.png',
      description: [
        'Wizards@Work is a tribe of scientists, hackers, engineers, programmers and other maniacs.',
        'We are magically shifting paradigms.',
      ],
    },
  ];

if affiliations
  section#groups.list
    h2 Organizations

    .disclaimer
      | Groups i am proud to be a part of.
    ul
      for affiliation in affiliations
        +group(affiliation)