@import nib
global-reset()

$body-color = #010101
$body-bg-color = #fefefe
$a-color = #F79F3F
$a-color-hover = #FF8500

html,
body
  display inline-block
  min-height 100%
  left 0
  position absolute
  top 0
  width 100%

a
  color $a-color

  &:hover
    color $a-color-hover